<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CIC-MP | Community Inclusion Currency - Management</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/react-date-styles.css" />
    <link rel="stylesheet" href="/static/css/react-table.css" />
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css"
      rel="stylesheet"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/media/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/media/favicons/ge-favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/media/favicons/ge-favicon-16x16.png"
    />
    <link rel="manifest" href="/static/media/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/static/media/favicons/safari-pinned-tab.svg"
      color="#42b1b1"
    />
    <link rel="shortcut icon" href="/static/media/favicons/ge-favicon.ico" />
    <meta name="msapplication-TileColor" content="#42b1b1" />
    <meta
      name="msapplication-config"
      content="/static/media/favicons/ge-browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-91625165-6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "{{ config.GOOGLE_ANALYTICS_ID }}");
    </script>

    <script type="text/javascript">
      (window.heap = window.heap || []),
        (heap.load = function(e, t) {
          (window.heap.appid = e), (window.heap.config = t = t || {});
          var r = t.forceSSL || "https:" === document.location.protocol,
            a = document.createElement("script");
          (a.type = "text/javascript"),
            (a.async = !0),
            (a.src =
              (r ? "https:" : "http:") +
              "//cdn.heapanalytics.com/js/heap-" +
              e +
              ".js");
          var n = document.getElementsByTagName("script")[0];
          n.parentNode.insertBefore(a, n);
          for (
            var o = function(e) {
                return function() {
                  heap.push(
                    [e].concat(Array.prototype.slice.call(arguments, 0))
                  );
                };
              },
              p = [
                "addEventProperties",
                "addUserProperties",
                "clearEventProperties",
                "identify",
                "resetIdentity",
                "removeEventProperty",
                "setEventProperties",
                "track",
                "unsetEventProperty"
              ],
              c = 0;
            c < p.length;
            c++
          )
            heap[p[c]] = o(p[c]);
        });
      heap.load("{{ config.HEAP_ANALYTICS_ID }}");
    </script>
  </head>
  <body>
    <script>
      window.DEPLOYMENT_NAME = "{{ config.DEPLOYMENT_NAME }}";
      window.BENEFICIARY_TERM = "{{ config.BENEFICIARY_TERM }}";
      window.BENEFICIARY_TERM_PLURAL = "{{ config.BENEFICIARY_TERM_PLURAL }}";
      window.BUILD_HASH = "{{ config.BUILD_HASH }}";
      window.PUSHER_KEY = "{{ config.PUSHER_KEY }}";
      window.PUSHER_ENV_CHANNEL = "{{ config.PUSHER_ENV_CHANNEL }}";
      window.ETH_CONTRACT_ADDRESS = "{{ config.ETH_CONTRACT_ADDRESS }}";
      window.master_wallet_address = "{{ config.MASTER_WALLET_ADDRESS }}";
      window.ETH_EXPLORER_URL = "{{ config.ETH_EXPLORER_URL }}";
      window.USING_EXTERNAL_ERC20 =
        "{{ config.USING_EXTERNAL_ERC20 }}" === "True";
      window.SENTRY_REACT_DSN = "{{ config.SENTRY_REACT_DSN }}";
      window.IS_USING_BITCOIN = "{{ config.IS_USING_BITCOIN }}" === "True";
      window.IS_BITCOIN_TESTNET = "{{ config.IS_BITCOIN_TESTNET }}" === "True";
      window.BITCOIN_MASTER_WALLET_ADDRESS =
        "{{config.BITCOIN_MASTER_WALLET_ADDRESS}}";
    </script>

    <div id="app" class="site-wrapper"></div>

    <script
      src="/static/javascript/dist/{{ js_bundle_main }}"
      type="text/javascript"
    ></script>
  </body>
</html>